{% extends "basic.html" %}
{% load static %}

{% block content %}

   <div class="container container-main">

      <table class="table table-striped">
        <thead>
          <tr>

            <th scope="col">Author</th>


          </tr>
        </thead>
        <tbody>

          {% for author in authors %}



            <tr></tr>
            <td><a class="link_custom" href="/authors/{{ author.slug }}">{{author.name}}, {{author.second_name}}</a></td>
            <tr></tr>

          {% endfor %}

        </tbody>
      </table>
 </div>

{% endblock %}

